<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTestSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebAppliWSTEST/WebServiceTest.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceTestSoap"
                contract="WebAppliWSTESTReference.WebServiceTestSoap" name="WebServiceTestSoap" />
        </client>
    </system.serviceModel>
</configuration>